.radioLeft{
  text-align:left
}

.ticks {
  font: 13px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 7px;
}

.track-inset {
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 30px;
  cursor: crosshair;
  opacity: 0;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

.mytext {
    width: 300px;
}

input {
text-align: center;
}

@font-face {
    font-family: pm-icons;
    src: url(resources/fonts/pm-icons.woff) format("woff"), url(resources/fonts/pm-icons.ttf) format("truetype");
}

@font-face {
    font-family: Pensio;
    src: url(resources/fonts/PensioSans-Normal.woff2) format("woff2"), url(resources/fonts/PensioSans-Normal.woff) format("woff"), url(resources/fonts/PensioSans-Normal.ttf) format("truetype");
}

@font-face {
    font-family: Pensio;
    font-weight: 700;
    src: url(resources/fonts/PensioSans-Medium.woff2) format("woff2"), url(resources/fonts/PensioSans-Medium.woff) format("woff"), url(resources/fonts/PensioSans-Medium.ttf) format("truetype");
}

div {
    font-family: Pensio;
}

h1 {
    font-family: Pensio;
}